<footer>
    <nav>
    <ul>
        <li><p>{{site.author}} © {{site.lastBuildYear}}</p></li>
        <li><a href="/index.xml">RSS</a></li>
        <li><a href="https://twitter.com/{{socials.twitter}}">Twitter</a></li>
        <li><a href="{{socials.github}}">GitHub</a></li>
        <li><a href="{{socials.linkedin}}">LinkedIn</a></li>
    </ul>
    </nav>
</footer>