{% if site.utterancesRepo %}
<section>
<script src="https://utteranc.es/client.js"
        repo="jacebenson/jace.pro"
        issue-term="pathname"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async >
</script>
<noscript>Please enable JavaScript to view the comments powered by Utterances.</a></noscript>
</section>
{% endif %}