:root {
  --primary: #1C0F13;
  --secondary: #6E7E85;
  --third-color: #B7CECE;
  --fourth-color: #BBBAC6;
  --fifth-color: #E2E2E2;
  --light-text: var(--fifth-color);
  --dark-text: black;
  --h1: 3em;
  --h2: 2em;
  --h3: 1em;
}

body {
  padding: 0px;
  margin: 0px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0px;
  color: var(--light-text);
}

.header-left {
  grid-area: 1 / 1 / 2 / 2;
  font-size: var(--h1);
  background-color: var(--secondary);
}
.header-right {
  grid-area: 1 / 2 / 2 / 5;
  font-size: var(--h3);
  background-color: var(--secondary);
}
.header-right > .hr-inner-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.hr-left {
    grid-area: 1 / 1 / 2 / 4;
    padding-right: 1em;
    padding-left:1em
}
.hr-left > .nav-links > *{
    display:inline;
    float:right;
    padding-right: 1em;

}
.hr-right {
    grid-area: 1 / 4 / 2 / 5; 
}

.hr-right > #search {
    padding: 1em;
    margin: 1em;
    display:inline;
}
.content {
  grid-area: 2 / 1 / 3 / 5;

  background-color: var(--primary);
}
.footer-left {
  grid-area: 3 / 1 / 4 / 3;
  background-color: var(--secondary);
}
.footer-right {
  grid-area: 3 / 3 / 4 / 5;
  background-color: var(--secondary);
}

/*Site wide*/
a {
    color: var(--light-text)
}
