
@charset "UTF-8";
/*******************************************
 *******************************************
 *
 * == INDEX PAGE CSS
 *
 * 01. common & reset css
 * 02. header
 * 03. footer
 *****************************
 *   01 - common & reset css
 *****************************
 *
 */

a:focus,
a:hover,
a:visited,
input,
input:hover,
input:focus,
input:active,
select {
  text-decoration: none;
  outline: none !important; }

img {
  max-width: 100%; }

a,
span {
  display: inline-block; }

.no-padding {
  padding: 0; }

.static {
  position: static; }

.relative {
  position: relative; }

.bg2 {
  background-color: #f3f6fa; }

.sp {
  padding-top: 90px;
  padding-bottom: 90px; }

.spt {
  padding-top: 90px; }

.spb {
  padding-bottom: 90px; }



/* section title */

/* page-title */

.page-title {
  font-size: 16px;
  color: #7d91aa; 
}

body, wrapper {
      min-height:100vh;
   }
   
   .flex-fill {
      flex:1 1 auto;
   }
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: #2d3666; }

h1, h2, h3, h4, h5, h6 {
  color: #222538; }


/*****************************
 *   01. header
 ***************************** */

#searchResults {
  text-align: left;
  padding-left: 10px;
  width: 50%;
}

/*****************************
 *   08. footer
 ***************************** */
footer {
  background-color: #222538;
  color: #9EA9BD;
  line-height: 24px; }

.footer-top {
  padding: 65px 0; 
}
@media only screen and (max-width: 991px) {
  .footer-top {
    padding: 30px 0; 
  } 
}
.footer-top .media img {
  width: 60px; 
}
.footer-top .media img img {
  width: 100%; 
}

@media only screen and (max-width: 991px) {
  .footer_widget {
    padding: 15px; 
  } 
}

.footer_widget ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}
.footer_widget ul li a {
  color: #9EA9BD;
  padding: 3px 0; 
}
.footer_widget .media {
  margin-bottom: 14px; 
}
.footer_widget .media a {
  color: #9EA9BD;
  font-size: 14px; 
}

.footer_widget .media span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px; 
}

.footer-bottom {
  background-color: #222538;
  padding: 25px 0; 
}
.footer-bottom a {
  color: #9EA9BD;
  padding: 0 10px; 
}

.footer-title {
  font-size: 16px;
}
/*****************************
 *   15. markdown tables
 ***************************** */
table {
  width: 100%;
}

table > * {
  padding: 10px;
}
table > thead {
  border-bottom: 1px solid black;
}
table > thead > tr > th{
  text-align: center;
  padding: 1rem;
  font-style: italic;
  font-size: large;
}
table > tbody > tr {
  border-bottom: 1px dotted grey;
}
table > tbody > tr > td {
  padding-left: .5rem;
  padding-right: .5rem;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}


/*****************************
 *   15. markdown quotes > and cite
 ***************************** */

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 80px;
  float:left;
    position: relative;
  height: 0;
  }

blockquote {

margin: 20px;
padding: 20px;
font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
font-size: 20px;
color: #428bca;
border-left: 4px solid #428bca;
}

blockquote::after {
  content: "\201D";
  display: block;
  font-size: 80px;
  float:right;
  position: relative;
  height: 0;
}

cite {
  float: right;
  padding-top:1em;
  color: #000;
}

/**/

summary:hover {
  cursor: pointer;
}


a {
  color: #006FE6
}




